<form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" [formControl]="personaModel.nombre">
      <div *ngIf="personaModel.nombre.hasError('required') && personaModel.nombre.touched" class="alert alert-danger">
        El nombre es obligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" [formControl]="personaModel.apellido">
      <div *ngIf="personaModel.apellido.hasError('required') && personaModel.apellido.touched" class="alert alert-danger">
        El apellido es obligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="edad">Edad</label>
      <input type="number" class="form-control" id="edad" [formControl]="personaModel.edad">
      <div *ngIf="personaModel.edad.hasError('required') && personaModel.edad.touched" class="alert alert-danger">
        La edad es obligatoria.
      </div>
      <div *ngIf="personaModel.edad.hasError('min') && personaModel.edad.touched" class="alert alert-danger">
        La edad debe ser mayor o igual a 18.
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="guardar()" [disabled]="!personaModel.nombre.valid || !personaModel.apellido.valid || !personaModel.edad.valid">Guardar</button>
  </form>