
<mat-toolbar color="primary">
  <p appFontSize>Este párrafo tendrá un tamaño de texto de 30px</p>
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>My App</h1>
    <span class="example-spacer"></span>
  </mat-toolbar>
    <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <mat-nav-list>
        <mat-list-item routerLink="home">
          <a>Home</a>
        </mat-list-item>
        <mat-list-item routerLink="users" [activated]="true">
          <a>Usuarios</a>
        </mat-list-item>
        <mat-list-item routerLink="courses">
          <a>Cursos</a>
        </mat-list-item>
        <mat-list-item>
          <a>Alumnos</a>
        </mat-list-item>
        <mat-list-item routerLink="enrollments">
          <a>Inscripciones</a>
        </mat-list-item>
        <mat-list-item (click)="logout()">
          <a>Cerrar sesion</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
