<div>
    <h2>Inscribir alumno en un curso</h2>
    <form [formGroup]="enrollmentForm" >
      <div class="form-group">
        <label for="userId">Selecciona un usuario:</label>
        <select id="userId" formControlName="userId">
          <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="courseId">Selecciona un curso:</label>
        <select id="courseId" formControlName="courseId">
          <option *ngFor="let course of courses" [value]="course.id">{{ course.name }}</option>
        </select>
      </div>
  
      <button type="submit" [disabled]="enrollmentForm.invalid" (click)="enrollUser()">Inscribirse</button>
    </form>
  </div>